<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.RoleMapper">
<resultMap id="returnRole" type="com.zc.pojo.Role">
    <id property="id" column="id"/>
    <result property="createTime" column="create_time"/>
    <result property="roleLevel" column="role_level"/>
    <result property="roleName" column="role_name"/>
    <result property="updateUser" column="update_user"/>
    <result property="updatTime" column="updat_time"/>
</resultMap>
    





</mapper>